<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         failOnWarning="true"
         cacheDirectory=".phpunit.result.cache">
    <php>
        <!-- KernelTestCase/WebTestCase need this: there is no .env, so APP_ENV
             and APP_DEBUG are unset and they default to test/true. -->
        <server name="KERNEL_CLASS" value="Pablo\App\Kernel"/>
    </php>
    <testsuites>
        <testsuite name="pablo">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>
</phpunit>
